<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="BSUIRScheduleDESK.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <BSUIRScheduleDESK.Properties.Settings>
            <setting name="firstsubgroup" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="secondsubgroup" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="favoriteschedules" serializeAs="String">
                <value />
            </setting>
            <setting name="currentweek" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="lecturecolor" serializeAs="String">
                <value>Green</value>
            </setting>
            <setting name="practicecolor" serializeAs="String">
                <value>Orange</value>
            </setting>
            <setting name="labcolor" serializeAs="String">
                <value>Red</value>
            </setting>
            <setting name="examcolor" serializeAs="String">
                <value>#FFf0768b</value>
            </setting>
            <setting name="consultationcolor" serializeAs="String">
                <value>#FF00bfff</value>
            </setting>
            <setting name="unknowncolor" serializeAs="String">
                <value>Gray</value>
            </setting>
            <setting name="indexes" serializeAs="String">
                <value>[4,2,0,1,5,9]</value>
            </setting>
            <setting name="laststartup" serializeAs="String">
                <value />
            </setting>
        </BSUIRScheduleDESK.Properties.Settings>
    </userSettings>
</configuration>